/* Header base */

.body-header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;
	padding-inline: var(--outer-inline-margin);

	&::after {
		--w: 66vw;
		--h: calc(33vmin + 5vmax);
		--y1: calc(var(--h) / 4);
		--y2: calc(-1 * (var(--w) + var(--y1)));
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: var(--w);
		height: var(--h);
		background-image: linear-gradient(in oklch, var(--clr-gradient-start), var(--clr-gradient-end));
		clip-path: polygon(0 var(--y1), var(--h) var(--y2), 100% 0, 100% 100%);
		z-index: -1;
	}
}

.skip-link:focus {
	position: absolute;
	padding: 1em;
	color: var(--clr-brand-primary);
	background-color: var(--clr-accent);
	border: .25em solid;
	font-family: var(--ff-sans);
	font-weight: var(--fw-bold);
	z-index: 1;
}

.logo-anchor {
	color: var(--clr-brand-primary);
	margin-top: 1rem;
	outline-offset: 0.5rem;
}

.logo-anchor-mask {
	block-size: 4rem;
	aspect-ratio: 634 / 280;
	background-color: currentcolor;
	forced-color-adjust: preserve-parent-color;

	@supports (mask-image: url(images/image\.webp)) {
		mask-image: url(images/logo-mask-img\.webp);
		mask-repeat: no-repeat;
		mask-size: contain;
	}

	@supports not (mask-image: url(images/image\.webp)) {
		-webkit-mask-image: url(images/logo-mask-img\.webp);
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: contain;
	}
}

/* Primary navigation */

[id="primary-nav-list"] {
	display: flex;
	flex-wrap: wrap;
	gap: 2ch;
	color: var(--clr-brightest);

	a {
		color: inherit;
		font-family: var(--ff-sans);
		font-stretch: condensed;
		font-weight: var(--fw-semibold);
	}

	> li {
		font-size: var(--fs-fluid-400);
	}
}

.sublist-parent {
	position: relative;
	display: flex;
}

[id$="-sublist"] {
	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 100%;
	min-inline-size: 20ch;

	button[aria-expanded="false"] + & {
		visibility: hidden;
	}

	a {
		display: flow-root;
		color: inherit;
		background-color: var(--clr-brand-secondary);
		padding: 0.5ch;
	}

	.sublist-parent:last-child > & {
		inset-inline-start: initial;
		inset-inline-end: 0;
	}
}

button[aria-controls="primary-nav-list"] {
	display: none;
}