html {
	background-color: var(--clr-canvas);
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;

	display: grid;
	grid-template-rows: auto 1fr auto;

	color: var(--clr-text-primary);
	accent-color: var(--clr-brand-primary);
	font-family: var(--ff-sans);
}

main {
	line-height: 1.7;
	font-weight: var(--fw-medium);
	font-size: var(--fs-fluid-400);
}

dl, dt, dd {
	font: inherit;
}

dt {
	font-weight: var(--fw-700);
}

h1, h2, h3, h4, h5, h6 {
	font: inherit;
	line-height: initial;
	text-wrap: balance;
	margin-block-start: 1.5ex;
	margin-block-end: 0.5ex;
	font-family: var(--ff-serif);
}

/* Layouts */

.inner-container {
	margin-inline: max(1rem, 10vw - 4rem);
	margin-block: clamp(2.5rem, 10vw, 5rem);
}

.body-matter {
	max-inline-size: 66ch;

	p {
		margin-block-end: 0.85em;
	}
}

/* Footer */

[id="site-footer"] {
	color: var(--clr-text-teritary);
	background-color: var(--clr-brand-teritary);
}

.footer-content {
	font-size: var(--fs-fluid-400);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2rem;
}